/* .container{
    padding: 0%;
}
 */

.cardHome{
    text-align:center;
    background-color:transparent;
    width:60%;

}

.carousel{
    width: 90%;
}


hr {
    margin-top:.2rem;
    margin-bottom: .2rem; 
}


