


.cardHome{
    text-align:center;
    background-color:transparent;
    border:4.5px solid #df744a!important;
}

.cardRow{
    height: 100%;
    width: 100%;
}

hr {
    margin-top:.2rem;
    margin-bottom: .5rem; 
}
